html  {
    overflow: hidden !important;
}
a {
    text-decoration: none;
}
a:link .link-warning {
    color: #fb6340;
    border-bottom: 1px solid #ff0000;
}
a:visited .link-warning{
    color: #fb6340;
    border-bottom: 1px solid #b3b3b3;
}
a:hover .link-warning{
    color: #fb6340;
    border-bottom: 1px solid #000099;
}
